# Ignorar los entornos virtuales en ambas computadoras
djangoproyect/
venv/

# Otros archivos o carpetas que deseas ignorar
__pycache__/
*.pyc
*.pyo
.DS_Store
# Ignorar la carpeta de dependencias locales
djangoproyect/Lib/
