<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - Tecno</title>
    </head>
    <body>
        <h1>Bienvenidos a mis Tareas</h1>
        {% for tarea in tarea %}
        <div>
            {% if tarea.done == False %} <h2>🕑{{ tarea.tittle }}</h2> {% else %} <h2>✅{{ tarea.tittle }}</h2> {% endif %} 
            <p>{{ tarea.description }}</p>

            <button>
                Delete
            </button>
            <button>
                ✅Done
            </button>

            {% endfor %}

            <!-- Agregando condicionales en nuestro html-->
        </div>

    </body>
</html>